<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Hello express!</title>
  </head>
  <body>
    <h1>Updated page</h1>
    {{> header }}
    <p>{{ screamIt welcomeMessage}}</p>

    {{> footer }}
  </body>
</html>