<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Hello express!</title>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>
      The site is currently being updated
    </p>
  </body>
</html>